<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repository.Properties.Settings.Lahman2009ConnectionString"
            connectionString="Data Source=server;Initial Catalog=database;Persist Security Info=True;User ID=user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>